body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1280px;
    border: 10px solid;
    height: 800px;
    margin: 0 0;
    background-color: beige;
}

.camas{
    display: inline-block;
    width: 100px;
    height: 300px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 2px 10px 0px 10px;
    margin: 40px 20px;
}

.camas:nth-child(even){
    background-color: #F1FEE3;
    border: 2px solid #b7c3ab;
}